html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    margin: 0;
    background-color: burlywood;
}

.container *{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
    grid-gap: 3px;
    box-sizing: border-box;
    padding: 15px;
}

.container>div:nth-child(odd){
    background-color: lightcoral;
}
.container>div:nth-child(even){
    background-color: lightblue;
}