html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    margin: 0;
    background-color: burlywood;
}

.container *{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template: repeat(2, 50px) / repeat(3, 1fr);
    grid-gap: 3px
}

.container>div:nth-child(odd){
    background-color: lightcoral;
}
.container>div:nth-child(even){
    background-color: lightblue;
}
.container>div:nth-child(4){
    background-color: darkgreen;
}